#wpfooter{
	display:none; //@todo hotfix - replace this after ux is polished
}
/* ==== Scrollbar =================================================================================================== */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: rgba(43, 45, 48, .1);
	border: 0;
	border-radius: 0;
}

::-webkit-crollbar-thumb:hover {
	background: rgba(43, 45, 48, .1);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(43, 45, 48, .1);
}

::-webkit-scrollbar-track {
	border: 0;
	border-radius: 0;
	background: transparent;
}

::-webkit-scrollbar-track:hover {
	background: transparent;
}

::-webkit-scrollbar-track:active {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
/* ===/ Scrollbar =================================================================================================== */

/* ==== WordPress =================================================================================================== */
#wpwrap {
	background-color: #FFF;
}

#wpcontent {
	padding: 0 20px !important;
}
/* ===/ WordPress =================================================================================================== */
.notice{
	padding: 12px;
	max-width: 1000px;
	margin: 20px auto 20px auto;
	position: relative;
	left: 160px;
}