/* Form Table */
.sv_dashboard_content table.form-table tbody {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.sv_dashboard_content table.form-table tr {
	width: 100%;
	margin-bottom: 50px;
}

.sv_dashboard_content table.form-table th {
	padding:0;
	width:auto;
}

.sv_dashboard_content table.form-table td {
	display: block;
	padding: 0;
	margin: 0;
}

/* Setting Info */
.sv_setting_flex{
	display:flex;
	flex-wrap:wrap;
}
@media screen and (max-width: 782px){
	.sv_setting_flex{
		display:block;
	}
}
.sv_setting {
	background-color: rgba( 50, 50, 48, .05 );
	padding: 15px;
	border-radius: 5px;
	width:100%;
	margin-bottom:12px;
	margin-right:12px;
	box-sizing:border-box;
	position:relative;
	display: flex;
	flex-direction: column;
	flex-basis: calc(50% - 12px);
	flex-grow: 1;
}
.sv_setting:first-child:last-child,
.sv_setting:nth-child(even),
.sv_setting:nth-child(odd):last-child{
	flex-basis: 50%;
	margin-right:0;
}
.sv_setting.sv_setting_group_parent{
	background-color:transparent;
}

.sv_setting.sv_setting_group {
	margin-top: 25px;
}

.sv_setting_group_input {
	margin-top: 25px;
}

.sv_setting h4 {
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba( 50, 50, 48, .2 );
}

.sv_setting_header {
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba( 50, 50, 48, .2 );
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sv_setting_header > h4 {
	margin: 0 10px 0 0;
	padding: 0;
	border: 0;

	color: rgba( 50, 50, 48, 1 );
	transition: color .25s ease;
}

/* Responsive */
.sv_setting_responsive {
	display: none;
}

.sv_setting_responsive_mobile {
	display: block;
}

.sv_setting_responsive_headline_button {
	border-left: 1px solid rgba( 50, 50, 48, .2 );
	padding-left: 10px;
	margin-left: 10px;
}

.sv_setting_responsive_headline_button,
.sv_setting_responsive_headline_button > i,
.sv_setting_responsive_headline_button > i > svg {
	height: 18px;
	width: 18px;
}

.sv_setting_responsive_headline_button > i {
	cursor: pointer;
}

.sv_setting_responsive_headline_button > i > svg,
.sv_setting_responsive_headline_button > i > svg > path {
	fill:  rgba( 50, 50, 48, .5 );
}

.sv_setting_responsive_headline_button > i:hover > svg,
.sv_setting_responsive_headline_button > i:hover > svg > path {
	fill: #328CE6;
}

.sv_setting_responsive_force{
	right:56px;
}

.sv_setting_responsive_select{
	display: flex;
    align-items: center;
	justify-content: flex-end;
	margin-left: auto;
	border-left: 1px solid rgba( 50, 50, 48, .2 );
    padding-left: 5px;
}

.sv_setting_responsive_select:hover{
	height:auto;
	z-index:1024;
}

.sv_setting_responsive_select > .sv_setting_responsive_icon {
	display: inline-block;
	cursor:pointer;
	margin-left: 2px;
}

.sv_setting_responsive_select > .sv_setting_responsive_icon,
.sv_setting_responsive_select > .sv_setting_responsive_icon > svg {
	height: 14px;
	width: 14px;
}

.sv_setting_responsive_select > .sv_setting_responsive_icon > svg,
.sv_setting_responsive_select > .sv_setting_responsive_icon > svg > path {
	fill:  rgba( 50, 50, 48, .5 );
}

.sv_setting_responsive_select > .sv_setting_responsive_icon.landscape > svg {
	transform: rotate(90deg);
}

.sv_setting_responsive_select > .sv_setting_responsive_icon:hover > svg, 
.sv_setting_responsive_select > .sv_setting_responsive_icon:hover > svg > path,
.sv_setting_responsive_select > .sv_setting_responsive_icon.active > svg,
.sv_setting_responsive_select > .sv_setting_responsive_icon.active > svg > path {
	fill: #328CE6;
}

/* Setting Description */
.sv_setting_description_icon {
	position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    cursor: pointer;
}

.sv_setting_description_icon svg {
	height: 1em;
	width: 1em;
	fill: rgba( 50, 50, 48, 1 );
}

.sv_setting_description {
	margin-bottom: 10px;
	color: rgba( 50, 50, 48, .8 );
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	user-select: none;
	z-index:1000;
}

/* Input - General */
.sv_setting label:not(.sv_input_label_color) {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.sv_setting label.sv_input_label_color {
	cursor: inherit;
	position: absolute;
	top: 50px;
	right: 0px;
	margin-bottom: 20px;
	z-index: 100;
}

.sv_setting input[type="color"] {
	width: 80px !important;
}

/* Select - Units */
#wpbody .sv_setting select.sv_input_units {
	width: 80px;
}

/* Input - Buttons */
.sv_dashboard_button,
input[type="submit"]#submit,
.sv_setting button:not(.components-color-picker__saturation-pointer):not(.components-button),
.sv_setting .button,
.sv_setting input[type="button"],
.sv_setting input[type="submit"] {
	text-shadow: none;
	color: rgba( 50, 50, 48, 1 );
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid rgba( 50, 50, 48, .2 );
	box-shadow: none;
	transition: .25s ease;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	line-height: 1;
	cursor: pointer;
}

.sv_dashboard_button:hover,
input[type="submit"]#submit:hover,
.sv_setting button:not(.components-color-picker__saturation-pointer):not(.components-button):hover,
.sv_setting .button:hover,
.sv_setting input[type="button"]:hover,
.sv_setting input[type="submit"]:hover {
	background-color: rgba( 50, 50, 48, 1 );
	border-color: rgba( 50, 50, 48, 1 );
	color: #FFFFFF;
}

.sv_setting button.components-button {
	color: rgba( 50, 50, 48, .75 );
	transition: color .25s ease;
	height: 36px;
	width: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sv_setting button.components-button:hover,
.sv_setting button.components-button:focus {
	color: rgba( 50, 50, 48, 1 );
	background: none !important;
	border: 0 !important;
	box-shadow: none !important;
}

/* Submit Button */
input[type="submit"]#submit,
.sv_setting input[type="submit"] {
	color: #ffffff;
	background-color: #28a745;
	border-color: #28a745;
}

input[type="submit"]#submit:hover,
.sv_setting input[type="submit"]:hover {
	background-color: #218838;
	border-color: #218838;
}

input[type="submit"]#submit::before,
.sv_setting input[type="submit"]::before {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	-webkit-mask-image: url( 'data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="save" class="svg-inline--fa fa-save fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM272 80v80H144V80h128zm122 352H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h42v104c0 13.255 10.745 24 24 24h176c13.255 0 24-10.745 24-24V83.882l78.243 78.243a6 6 0 0 1 1.757 4.243V426a6 6 0 0 1-6 6zM224 232c-48.523 0-88 39.477-88 88s39.477 88 88 88 88-39.477 88-88-39.477-88-88-88zm0 128c-22.056 0-40-17.944-40-40s17.944-40 40-40 40 17.944 40 40-17.944 40-40 40z"></path></svg>' );
	-webkit-mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

/* WooCommerce */
div.sv100_sv_woocommerce_settings_setting_group_item {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 10px;
}

.sv_core_scripts{
	margin-right:12px;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 15px;
	height: 15px;
}
.sv_core_scripts_css{
	background-image:url( 'data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M480 32l-64 368-223.3 80L0 400l19.6-94.8h82l-8 40.6L210 390.2l134.1-44.4 18.8-97.1H29.5l16-82h333.7l10.5-52.7H56.3l16.3-82H480z"/></svg>');
}
.sv_core_scripts_js{
	background-image:url( 'data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"/></svg>');
}